extends layout

block content
  h1= 'Whatcya got on tap?'
  p Check out the tap list:
  ol
    li Citra Pale Ale

    li Empty
        #container
          .pour
          #beaker
            .beer-foam
              .foam-1
              .foam-2
              .foam-3
              .foam-4
              .foam-5
              .foam-6
              .foam-7
          #liquid
            .bubble.bubble1
            .bubble.bubble2
            .bubble.bubble3
            .bubble.bubble4
            .bubble.bubble5

block append styles
  link(rel='stylesheet', href='/stylesheets/menu.css')

block append scripts
  script(src="/javascripts/menu.js")